* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header {
  font-size: 7vmin;
  text-align: center;
  padding: 10vmin;
}

button {
  margin-top: 6vmin;
  padding: 1.5vmin;
  font-size: 3vmin;
  border-radius: 6vmin;
}
.keyboard {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 1vmin;
  padding-top: 6vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;
}
#word-display {
  display: flex;
  text-align: center;
  font-size: 14vw;
  margin-top: 30vmin;
}

button:hover {
  color: white;
  background-color: dodgerblue;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.tank {
 
  position: relative;
  margin-bottom: 6vmin;
}
.stickMan {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transition: all ease-in-out 0.5s;
}

.aspect {
  height: 157px;
  width: 100%;
 
}
.stickManContainer {
  position: relative;
  height: 300px;
  width: 100%;


}