* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header {
    font-size: 7vmin;
    text-align: center;
    padding: 15px;
    
}