* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    font-size: 7vmin;
    text-align: center;
    padding: 7vmin;
    
}

h1 {
    font-size: 5vmin;
    position: absolute;
    text-align: center;
    top: 10vmin;
    padding: 10vmin;
}

button {
    margin-top: 6vmin;
    position: absolute;

    top: 50vmin;
    padding: 1.5vmin;
    font-size: 3vmin;
    border-radius: 6vmin;
}

button:hover {
    color: white;
    background-color: dodgerblue;
}

.banana {
    display: flex;
    justify-content: center;
}